@charset "UTF-8";

.modify{
			width:702px;
			height:624px;
			position:absolute;
			top:67px;
			left:419px;
			margin:auto;
			background-color:#ffffff;
			text-align:left;
			font-family:宋体;
			font-weight:bold;
			font-size:20px;
			padding-top:5px;
			box-sizing:border-box;
            box-shadow: darkgrey 10px 10px 30px 5px ;	
	}
	
	.modify th{
		width:15%;
		height:56px;
	}
	.modify tr{
		width:15%;
		height:56px;
		padding-top:10px;
	}
	.subb{
			width:81px;
			height:46px;
			border:none;
			position:absolute;
			left:180px;
			top:568px;
			background-color:#009EFF;
			font-size:20px;
			font-family:宋体;
			font-weight:bold;
			color:#ffffff;
		}
	.bac{
			width:81px;
			height:46px;
			border:none;
			position:absolute;
			left:504px;
			top:568px;
			background-color:#009EFF;
			font-size:20px;
			font-family:宋体;
			font-weight:bold;
			color:#ffffff;
		}